.loading{
	background-image: url('../images/loading.gif');
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	opacity:0.5;
}

table.testgrid td{
	height:40px;
}

span.caret{
	height: 20px;
}

div#ItemDetails{
	font-size: 20px;
}

hr.item{
	background-color: black;
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 0;
}