<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app id="WebApp_ID">
	<display-name>AnalysisWeb</display-name>
	<listener>
		<listener-class>
			com.manish.analysis.context.AnalysisContextListener
		</listener-class>
	</listener>
	<servlet>
		<servlet-name>GetMaterialsServlet</servlet-name>
		<display-name>GetMaterialsServlet</display-name>
		<description></description>
		<servlet-class>com.manish.analysis.servlet.GetMaterialsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateMaterialsServlet</servlet-name>
		<display-name>UpdateMaterialsServlet</display-name>
		<description></description>
		<servlet-class>com.manish.analysis.servlet.UpdateMaterialsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetLaboursServlet</servlet-name>
		<display-name>GetLaboursServlet</display-name>
		<description></description>
		<servlet-class>com.manish.analysis.servlet.GetLaboursServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetHiresServlet</servlet-name>
		<display-name>GetHiresServlet</display-name>
		<description></description>
		<servlet-class>com.manish.analysis.servlet.GetHiresServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetCarriagesServlet</servlet-name>
		<display-name>GetCarriagesServlet</display-name>
		<description></description>
		<servlet-class>com.manish.analysis.servlet.GetCarriagesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetConstantsServlet</servlet-name>
		<display-name>GetConstantsServlet</display-name>
		<description></description>
		<servlet-class>com.manish.analysis.servlet.GetConstantsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateLaboursServlet</servlet-name>
		<display-name>UpdateLaboursServlet</display-name>
		<description></description>
		<servlet-class>com.manish.analysis.servlet.UpdateLaboursServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateHiresServlet</servlet-name>
		<display-name>UpdateHiresServlet</display-name>
		<description></description>
		<servlet-class>com.manish.analysis.servlet.UpdateHiresServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateCarriagesServlet</servlet-name>
		<display-name>UpdateCarriagesServlet</display-name>
		<description></description>
		<servlet-class>com.manish.analysis.servlet.UpdateCarriagesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateConstantsServlet</servlet-name>
		<display-name>UpdateConstantsServlet</display-name>
		<description></description>
		<servlet-class>com.manish.analysis.servlet.UpdateConstantsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetItemsServlet</servlet-name>
		<display-name>GetItemsServlet</display-name>
		<description></description>
		<servlet-class>com.manish.analysis.servlet.GetItemsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetItemDetailsServlet</servlet-name>
		<display-name>GetItemDetailsServlet</display-name>
		<description></description>
		<servlet-class>com.manish.analysis.servlet.GetItemDetailsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateItemDetailsServlet</servlet-name>
		<display-name>UpdateItemDetailsServlet</display-name>
		<description></description>
		<servlet-class>com.manish.analysis.servlet.UpdateItemDetailsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetMaterialsServlet</servlet-name>
		<url-pattern>/GetMaterials</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateMaterialsServlet</servlet-name>
		<url-pattern>/UpdateMaterials</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetLaboursServlet</servlet-name>
		<url-pattern>/GetLabours</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetHiresServlet</servlet-name>
		<url-pattern>/GetHires</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetCarriagesServlet</servlet-name>
		<url-pattern>/GetCarriages</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetConstantsServlet</servlet-name>
		<url-pattern>/GetConstants</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateLaboursServlet</servlet-name>
		<url-pattern>/UpdateLabours</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateHiresServlet</servlet-name>
		<url-pattern>/UpdateHires</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateCarriagesServlet</servlet-name>
		<url-pattern>/UpdateCarriages</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateConstantsServlet</servlet-name>
		<url-pattern>/UpdateConstants</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetItemsServlet</servlet-name>
		<url-pattern>/GetItems</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetItemDetailsServlet</servlet-name>
		<url-pattern>/GetItemDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateItemDetailsServlet</servlet-name>
		<url-pattern>/UpdateItemDetails</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
