<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app id="WebApp_ID">
  <display-name>AnalysisWeb</display-name>
  <listener>
	<listener-class>
             com.manish.analysis.context.AnalysisContextListener  
        </listener-class>
   </listener>
  <servlet>
  	<servlet-name>GetMaterialsServlet</servlet-name>
  	<display-name>GetMaterialsServlet</display-name>
  	<description></description>
  	<servlet-class>com.manish.analysis.servlet.GetMaterialsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateMaterialsServlet</servlet-name>
  	<display-name>UpdateMaterialsServlet</display-name>
  	<description></description>
  	<servlet-class>com.manish.analysis.servlet.UpdateMaterialsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetMaterialsServlet</servlet-name>
  	<url-pattern>/GetMaterialsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateMaterialsServlet</servlet-name>
  	<url-pattern>/UpdateMaterialsServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
  	<welcome-file>index.html</welcome-file>
  	<welcome-file>index.htm</welcome-file>
  	<welcome-file>index.jsp</welcome-file>
  	<welcome-file>default.html</welcome-file>
  	<welcome-file>default.htm</welcome-file>
  	<welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>
